<div class="left">
  <a routerLink="/"><pv-logo size="sm" /></a>
  <div class="search">
    <input
      type="text"
      (ngModelChange)="searchService.searchInput.set($event)"
      [ngModel]="searchService.searchInput()"
      (keydown.enter)="onSearch()"
    />
    <button (click)="onSearch()">
      <pv-search-icon size="small"></pv-search-icon>Search
    </button>
  </div>
</div>

<div class="right">
  <select
    [ngModel]="searchService.numPapers()"
    (ngModelChange)="searchService.numPapers.set($event)"
  >
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>
  <span class="results-label">results per page</span>
</div>
