@import "../../../assets/styles/variables/colors";

:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-top: 8px;

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input {
    padding: 14px;
    min-width: 300px;
    border: none;
    font-size: 20px;
    border-radius: 16px;
  }
  button {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 20px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: $accent;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    pv-search-icon {
      display: inline-flex;
      margin-left: -6px;
    }
  }
  select {
    padding: 6px;
    font-size: 20px;
    border-radius: 16px;
    margin-left: auto;
  }
  .results-label {
    color: white;
  }
}
