:host {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "Helvetica Neue", sans-serif;

  h2 {
    color: white;
    margin-bottom: 0;
  }
  .paper-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
  .results {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      pv-keyword-chart {
        order: -1;
      }
    }
  }
}
